@tailwind base;
@tailwind components;
@tailwind utilities;

/* Buttons */
.btn-primary {
  @apply w-full py-2 rounded bg-blue-600 text-white font-semibold hover:bg-blue-700 transition;
}

.btn-success {
  @apply w-full py-2 rounded bg-green-600 text-white font-semibold
         disabled:bg-gray-400 disabled:cursor-not-allowed;
}

.btn-accent {
  @apply w-full py-2 rounded bg-indigo-600 text-white font-semibold
         disabled:bg-gray-400 disabled:cursor-not-allowed;
}
